 [Unit]
 Description=Puzzle IOT Switch MQTT Bridge Service
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/bin/sh -c "cd /home/j/workspace/PuzzleIOT/Index/scripts/apps/BridgeArduinoSerialToMqttSplitCsv/ && sh start-mqtt-bridge.sh --DeviceName=switch1 --SerialPort=/dev/ttyUSB0 --SubscribeTopics="D13,T13" --IncomingKeyValueSeparator=\":\" --SummaryKey=D > svc/switch1log.txt"

 [Install]
 WantedBy=multi-user.target
